// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$rhino: #303C6B;
$chambray: #3F4F88;
$cornflour: #98CCE7;
$chambray: #F86867;
$sweetcorn: #F8E78F;
$mineshaft: #222222;
$tundora: #444444;
$alabaster: #F8F8F8;

// Body
$home-bg: $cornflour;
$admin-bg: $alabaster;
